<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" [innerHtml]="modalConfig.title"></h4>
  </div>
  <div class="modal-body">
    <p>{{modalConfig.bodyText}}</p>
    <div class="form" >
      <div *ngFor="let form of modalConfig.formData">
        <div class="form-group" *ngIf="form.type === 'email'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <input type="email" class="form-control" id="{{form.name}}" [(ngModel)]="form.model" [disabled]="form.disabled" [required]="form.required">
        </div>
        <div class="form-group" *ngIf="form.type === 'password'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <input type="password" class="form-control" id="{{form.name}}" [(ngModel)]="form.model" [disabled]="form.disabled" [required]="form.required">
        </div>
        <div class="form-group" *ngIf="form.type === 'text'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <input type="text" class="form-control" id="{{form.name}}" [(ngModel)]="form.model" [disabled]="form.disabled" [required]="form.required">
        </div>
        <div class="form-group" *ngIf="form.type ==='stage'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <select [(ngModel)]="form.model" class="form-control" id="{{form.name}}" [disabled]="form.disabled" [required]="form.required">
            <option *ngFor="let status of statuses" [ngValue]="status">{{status.name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="form.type === 'date'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="form.model" ngbDatepicker [disabled]="form.disabled"
              #d="ngbDatepicker" id="{{form.name}}" [required]="form.required">
            <div class="input-group-append">
              <button class="btn" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="form.type ==='gender'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <select [(ngModel)]="form.model" class="form-control" id="{{form.name}}" [disabled]="form.disabled" [required]="form.required">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
        <div class="form-group" *ngIf="form.type ==='passed'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <select [(ngModel)]="form.model" class="form-control" id="{{form.name}}" [disabled]="form.disabled" [required]="form.required">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="form-group" *ngIf="form.type ==='role'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <select [(ngModel)]="form.model" class="form-control" id="{{form.name}}" [disabled]="form.disabled" [required]="form.required">
            <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="form.type === 'text-area'">
          <label for="{{form.name}}">{{form.label}} {{(form.required) ? '*':''}}</label>
          <textarea class="form-control" id="{{form.name}}" rows="3" [(ngModel)]="form.model" [disabled]="form.disabled" [required]="form.required"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onButton1Action()"
      *ngIf="modalConfig.button1Text">{{modalConfig.button1Text}}</button>
    <button type="button" class="btn btn-outline-success" (click)="onButton2Action()" [disabled]="!isValid()"
      *ngIf="modalConfig.button2Text">{{modalConfig.button2Text}}</button>
  </div>
</div>