.card {
    background-color: #fff;   
    text-decoration: none;
    padding: 7px;
    margin: 0 0 8px 0;
    border-radius: 3px;
    color: #4d4d4d;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    list-style: none;
    border-bottom: solid 1px #ccc;
    transition: all;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }
  
  .card:hover{
    background-color: #0db7d2;
    color: #fff;
    font-weight: bold;
  }
  
  .card textarea {
      display: inherit;
      width: 100%;
      border: none;
      line-height: 18px;
      font-size: 14px;
      resize: none;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-stretch: normal;
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
      line-height: 18px;
      margin: -2px;
  }

  .border-left-scrum {
    border-left: 10px solid #0c5460;
  }
  
  .border-left-pm {
    border-left: 10px solid #dc3545;
  }

  .border-left-dev {
    border-left: 10px solid #28a745;
  }

  .border-left-tester {
    border-left: 10px solid #004085;
  }

  .border-left-ba {
    border-left: 10px solid #ffc107;
  }

  .border-left-arc {
    border-left: 10px solid #786c7d;
  }

  .border-left-intern {
    border-left: 10px solid thistle;
  }

  .border-left-hr {
    border-left: 10px solid hotpink;
  }

  .border-left-default {
    border-left: 10px solid dimgrey;
  }

  .icon-incomplete {
    color: #a94442;
  }

  .icon-complete {
    color: #42A948;
  }