<div class="card" [attr.card-id]="card.id" [attr.card-order]="card.order"
  [ngClass]="getStyleClassForRole(card.candidate.role.name)">
  <span [innerHtml]="'Name : '+card.title" [style.display]="editingCard ? 'none' : ''">
  </span>
  <span [innerHtml]="'Role : '+card.candidate.role.name" [style.display]="editingCard ? 'none' : ''">
  </span>
  <span [innerHtml]=" 'Contacts : '+card.candidate.phoneNumber">
  </span>
  <div class="row">

    <div class="col" style="max-width:20%" (click)="onUpdateCandidate()">
      <span>
        <button class="btn" type="button" placement="top" ngbTooltip="Update candidate details"><i
            class="fas fa-user-edit"></i></button>
      </span>
    </div>

    <div class="col" style="max-width:20%" *ngIf="card.candidate.status.name !== 'Telephonic Interview'"
      (click)="onAttachAffiliation()">
      <span>
        <button class="btn" type="button" placement="top" ngbTooltip="View or Add Assessment"><i
            class="fas fa-chalkboard-teacher" [ngClass]="(card.candidate.assessmentCompleted) ? 'icon-complete' : 'icon-incomplete'"></i></button>
      </span>
    </div>

    <div class="col" style="max-width:17%"
      *ngIf="card.candidate.status.name !== 'Telephonic Interview' && card.candidate.status.name !== 'Assessment'"
      (click)="onAttachEvaluation()">
      <span>
        <button class="btn" type="button" placement="top" ngbTooltip="View or Add Evaluation"><i
            class="fas fa-clipboard-list" [ngClass]="(card.candidate.evaluationCompleted) ? 'icon-complete' : 'icon-incomplete'"></i></button>
      </span>
    </div>
    <div class="col" style="max-width:18%; padding-top: 2px"
      *ngIf="card.candidate.status.name !== 'Telephonic Interview' && card.candidate.status.name !== 'Assessment' && card.candidate.status.name !== 'F2F Interview'"
      (click)="onCompleteOnboarding()">
      <span>
        <button class="btn" type="button" placement="top" ngbTooltip="View or Complete Onboarding" [ngClass]="(card.candidate.onboardingCompleted) ? 'icon-complete' : 'icon-incomplete'"><i
            class="fas fa-snowboarding"></i></button>
      </span>
    </div>
    <div class="col" style="max-width:20%; padding-top: 2px"
    *ngIf="card.candidate.status.name === 'Placements'"
    (click)="onCompletePlacement()">
    <span>
      <button class="btn" type="button" placement="top" ngbTooltip="View or Complete Placement Details"><i
          class="fas fa-plane-arrival" [ngClass]="(card.candidate.placementCompleted) ? 'icon-complete' : 'icon-incomplete'"></i></button>
    </span>
  </div>
  </div>
</div>