.main{
    background-color: #E2E4E6;
    opacity: 0.9;
}

.on-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.ng-valid:not(form) {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form),
.ng-valid.required {
    border-left: 5px solid #a94442;
}
