<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-width" *ngIf="showNavBar()">
  <a class="navbar-brand">Candidate Traking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/board']" [routerLinkActive]="'is-active'">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']" [routerLinkActive]="'is-active'">Search</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" [routerLink]="['/admin']" [routerLinkActive]="'is-active'">Admin</a>
      </li>
    </ul>
    <button class="round-btn" (click)="toggleMenu()">{{getUserInitials()}}</button>
  </div>
</nav>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-right bg-light" style="display:none;right:0;" id="rightMenu">
  <img src="assets/images/avatar.png" alt="Avatar" class="avatar">
  <div class="list-group" style="padding-top:10px">
    <a (click)="navigateToProfile()" class="list-group-item list-group-item-action">Profile</a>
    <a class="list-group-item list-group-item-action" (click)="logout()">Logout</a>
  </div>
</div>
<div id="content-wrapper">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>