header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  
  nav {
    background-color: #0067A3;
    padding: 5px;
    height: 40px;
  }
  
  /* nav a {
    float: left;  
    color: white; 
  }
   */
  nav a.btn {
    background-color:#4590BC;
    width: 80px;
  }
  
  nav a.logo{
    line-height: 30px;
    font-weight: bold;
    color:#7FB2D1;
    width: calc(100% - 200px);
    text-align: center;
    /*margin-top: -30px;*/
  }
  
  #disclaimer {
    width: 80%;
    margin: auto;
    background-color: #eee;
    padding: 15px;
  }
  
  #disclaimer h1 {
    margin: 0;
    text-decoration: underline;
  }
  
  #disclaimer .red {
    color: red;
  }
  
  #disclaimer #closeButton {
    float: right;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
  }

  .is-active {
    background-color:#0067A3;
    color: white !important;
  }

  .w3-xlarge {
    font-size: 16px!important;
  }

  .round-btn {
    background-color:#0067A3;
    border-radius: 50%;
    color: white !important;
    border: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    outline: none
  }

  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #nav-width {
    width: 100%;
  }

  .w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#7FB2D1!important}
  .w3-button:hover{color:white!important;background-color:#0067A3!important}
  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
  .w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-button{white-space:normal}
.w3-button:hover{color:white!important;background-color:#0067A3!important}
.w3-right{float:right!important}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}