.user-button {
    float : right;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

.ng-valid:not(form) {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form),
.ng-valid.required {
    border-left: 5px solid #a94442;
}

.venue-table {
    width: 85%;
    margin-left: 15px;
    margin-right: auto;
}