<ngb-tabset type="pills" justify="center">
  <ngb-tab>
      <ng-template ngbTabTitle><b>User</b></ng-template>
    <ng-template ngbTabContent>
      <app-user></app-user>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><b>Venue</b></ng-template>
    <ng-template ngbTabContent>
      <app-venue></app-venue>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><b>Role</b></ng-template>
    <ng-template ngbTabContent>
      <app-role></app-role>
    </ng-template>
  </ngb-tab>
</ngb-tabset>