<br><br>
<div class="role-table">
  <p-table [columns]="cols" [value]="roles" selectionMode="single" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <b>LIST OF ROLES</b>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Add New Role" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '500px'}" [closable]="true">

  <div class="row">

    <div class="col">
      <div *ngIf="showAlert">
        <ngb-alert [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
      </div>

      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="form-group">

          <input type="text" class="form-control" aria-label="Sizing example input" placeholder="name"
            aria-describedby="inputGroup-sizing-lg" formControlName="name" />
          <div *ngIf="(name.touched || name.dirty) && name.invalid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">Name must have length of {{roleNameMinLength}} or more</div>
          </div><br>

          <span>
            <button type="submit" class="btn btn-success btn-lg user-button" [disabled]="!roleForm.valid">Save</button>&nbsp;
          </span>
        </div>
      </form>

    </div>

  </div>

</p-dialog>