.column {
    background-color: #E2E4E6;
    opacity: 0.9;
    border-radius: 3px;
    width: 270px;
    margin-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }
  .column h4 {
    color: #4d4d4d;
    line-height: 100%;
    margin-left: 10px;
    margin-top: 8px;
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 3px;
    height: 18px;
    width: 260px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
  }
  .column-header {
    cursor: pointer;
    cursor: hand;
  }
  .column .column-header input {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 700;
    border: none;
    line-height: 18px;
    padding: 3px 5px 4px 5px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: -1px;
    width: calc(100% - 10px);
  }
  .add-card {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    padding: 8px 10px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }
  .add-card:hover {
    text-decoration: underline;
    color: #666;
    background-color: #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .add-card input {
    margin-left: -5px;
    line-height: 18px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 5px 5px 4px 5px;
    width: calc(100% - 10px);
  }
  ul.card-list {
    padding: 31px 11px 32px 9px;
    margin: -26px 0 -31px 0;
  }
  ul.card-list > li {
    list-style: none;
  }

  .complete-text {
    color: green;
  }

  .incomplete-text {
    color: red;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .ng-valid:not(form) {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form),
  .ng-valid.required {
    border-left: 5px solid #a94442;
  }