<div class="column" [attr.column-id]="column.id" [attr.column-order]="column.order">
  <div class="column-header">
    <h4>{{column.title}} <span class="badge badge-pill badge-primary">{{cardCountPerColumn(column)}}</span></h4>
  </div>
  <ul class="card-list" [attr.column-id]="column.id">
    <li *ngFor="let card of cards | where : { columnId: column.id } | orderBy : 'order'">
      <app-card [card]="card" (updateCandidate)="onUpdateCandidate($event)" (attachAffiliation)="onAttachAffiliation($event)"
        (attachEvaluation)="onAttachEvaluation($event, content)"
        (completeOnBoarding)="onCompleteOnboarding($event, onboarding)" (completePlacement)="onCompletePlacement($event)"></app-card>
    </li>
  </ul>
  <div class="add-card" *ngIf="isTelephonicInterviewColumn(column)">
    <button type="button" class="btn btn-success" (click)="openAddCandidateModal()">Add Candidate</button>
  </div>
</div>
<app-custom-modal [modalConfig]="modalConfig" (button1Action)="onButton1Action($event)"
  (button2Action)="onButton2Action($event)" *ngIf="false" [roles]="roles" [statuses]="statuses"></app-custom-modal>

<div class="modal" tabindex="-1" role="dialog" *ngIf="showModal" style="display:inherit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Missing Assessment Evaluation</h5>
      </div>
      <div class="modal-body">
        <p>Please attach an assessment evaluation before moving this candidate to next stage</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onModalOk()">Ok</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{selectedCard.candidate.names}} {{selectedCard.candidate.surname}}'s Evaluation</h5>
  </div>
  <div class="modal-body">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Schedule Interview">
        <ng-template ngbPanelTitle>
          <span [ngClass]="interview.id ? 'complete-text' : 'incomplete-text'"> <small>
              {{interview.id ? '(Complete)':'(Incomplete)'}}</small></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="form-group">
            <label for="interviewDate">Interview Date *</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="interview.dateObj"
                ngbDatepicker #d="ngbDatepicker" id="interviewDate" required>
              <div class="input-group-append">
                <button class="btn" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Interview Time *</label>
            <ngb-timepicker [(ngModel)]="interview.timeObj" [meridian]="meridian"></ngb-timepicker>
          </div>
          <div class="form-group">
            <label for="venue">Venue *</label>
            <select [(ngModel)]="interview.venue" class="form-control" id="venue" required>
              <option *ngFor="let venue of venues" [ngValue]="venue">{{venue.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="users">Interview Panel *</label>
            <select multiple [(ngModel)]="interview.users" class="form-control" id="users" required [compareWith]="compareFn">
              <option *ngFor="let user of users" [value]="user">{{user.names}} {{user.surname}}</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" (click)="onSaveInterview()">Save</button>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Evaluate Candidate" [disabled]="!interview.id">
        <ng-template ngbPanelTitle>
          <span></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <button type="button" class="btn btn-primary" (click)="addNewEval(eval)">Add New Evaluation</button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Evaluated By</th>
                <th scope="col">Recommendation</th>
                <th scope="col">Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let evaluation of evaluations; index as i">
                <td>{{ evaluation.user.names }} {{evaluation.user.surname}}</td>
                <td>
                  {{ evaluation.recommendation }}
                </td>
                <td>{{ evaluation.comments }}</td>
              </tr>
              <tr *ngIf="evaluations.length === 0">
                <td colspan="3" style="text-align: center">No results to display</td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" *ngIf="evaluations.length > 0">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(1)" class="page-link">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
              </li>
            </ul>
          </nav>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCloseEvaluation()">Close</button>
  </div>
</ng-template>

<ng-template #onboarding let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Complete Onboarding for {{selectedCard.candidate.names}} {{selectedCard.candidate.surname}}
    </h5>
  </div>
  <div class="modal-body">
    <div class="form-group">
      References Checked
      <label class="switch">
        <input type="checkbox" #references [(ngModel)]="onboardingModel.references" id="references"
          [ngModelOptions]="{standalone: true}" (change)="onReferenceChange(references.checked)">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="form-group">
      Verification Complete
      <label class="switch">
        <input type="checkbox" #verification [(ngModel)]="onboardingModel.verification" id="verification"
          [ngModelOptions]="{standalone: true}" (change)="onVerificationChange(verification.checked)">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="form-group">
      Offer
      <label class="switch">
        <input type="checkbox" #offer [(ngModel)]="onboardingModel.offer" id="offer"
          [ngModelOptions]="{standalone: true}" (change)="onOfferChange(offer.checked)">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea class="form-control" id="comments" rows="3" [(ngModel)]="onboardingModel.comment" required></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCancelOnboarding()">Back</button>
    <button type="button" class="btn btn-outline-success" (click)="onSaveOnboarding()">Save</button>
  </div>
</ng-template>

<ng-template #eval let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add New Evaluation</h5>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="users">Evaluated By*</label>
      <select [(ngModel)]="newEvaluation.user" class="form-control" id="users" required>
        <option *ngFor="let user of interview.users" [ngValue]="user">{{user.names}} {{user.surname}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="logicalSkills">Logical skills*</label>
      <select [(ngModel)]="newEvaluation.rating.logicalSkills" class="form-control" id="logicalSkills" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="communicationSkills">Communication skills*</label>
      <select [(ngModel)]="newEvaluation.rating.communicationSkills" class="form-control" id="communicationSkills" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="honesty">Honesty*</label>
      <select [(ngModel)]="newEvaluation.rating.honesty" class="form-control" id="honesty" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="passion">Passion*</label>
      <select [(ngModel)]="newEvaluation.rating.passion" class="form-control" id="passion" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="abilityToLearn">Ability to learn*</label>
      <select [(ngModel)]="newEvaluation.rating.abilityToLearn" class="form-control" id="abilityToLearn" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="flexibility">Flexibility*</label>
      <select [(ngModel)]="newEvaluation.rating.flexibility" class="form-control" id="flexibility" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="organisationalFit">Organisational Fit*</label>
      <select [(ngModel)]="newEvaluation.rating.organisationalFit" class="form-control" id="organisationalFit" required>
        <option *ngFor="let rating of allRatings" [ngValue]="rating.id">{{rating.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="recommendation">Recommendation*</label>
      <textarea class="form-control" id="recommendation" rows="3" [(ngModel)]="newEvaluation.recommendation" required></textarea>
    </div>
    <div class="form-group">
      <label for="comments">Comments*</label>
      <textarea class="form-control" id="comments" rows="3" [(ngModel)]="newEvaluation.comments" required></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCloseAddEvaluation()">Back</button>
    <button type="button" class="btn btn-outline-success" (click)="saveNewEval()" [disabled]="!isEvalValid()">Save</button>
  </div>
</ng-template>
<div class="loading" *ngIf="showLoader">Loading&#8230;</div>