<div *ngIf="board" class="board-title">
  <span [style.display]="editingTilte ? 'none' : ''" (click)="editTitle()">{{ board?.title }}</span>
</div>
<section *ngIf="board" id="main" >
  <div *ngFor="let column of board.columns | orderBy : 'order'" class="sortable-column">
    <app-column [column]="column"
        (onAddCard)="addCard($event)"
        [cards]="board.cards" [statuses]="statuses" [roles]="roles" [users]="users" [venues]="venues">
    </app-column>
  </div>
</section>