<br><br>
<div class="user-table">
  <p-table [columns]="cols" [value]="users" selectionMode="single" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <b>LIST OF USERS</b>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] | role : col.field }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>
</div>


<p-dialog header="Add New User" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '500px'}" [closable]="true">

  <div class="row">

    <div class="col">
      <div *ngIf="showAlert">
        <ngb-alert [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <br>
        <div class="form-group">
          <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Name(s)"
            aria-describedby="inputGroup-sizing-lg" formControlName="names" />
          <div *ngIf="(names.touched || names.dirty) && names.invalid">
            <div *ngIf="names.errors.required">Name(s) is required</div>
            <div *ngIf="names.errors.minlength">Names must have length of {{namesMinLength}} or more</div>
          </div>
        </div><br>

        <div class="form-group">
          <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Surname"
            aria-describedby="inputGroup-sizing-lg" formControlName="surname" />
          <div *ngIf="(surname.touched || surname.dirty) && surname.invalid">
            <div *ngIf="surname.errors.required">Surname is required</div>
            <div *ngIf="surname.errors.minlength">Surname must have length of {{namesMinLength}} or more</div>
          </div>
        </div><br>

        <div class="form-group">
          <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Phone Number"
            aria-describedby="inputGroup-sizing-lg" formControlName="phoneNumber" />
          <div *ngIf="(phoneNumber.touched || phoneNumber.dirty) && phoneNumber.invalid">
            <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
            <div *ngIf="phoneNumber.errors.invalidNumber">Value has to be a number</div>
            <div *ngIf="phoneNumber.errors.minlength">phone number must include code, be minimum {{phoneMinLength}} characters length
            </div>
          </div>
        </div><br>

        <div class="form-group">
          <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            formControlName="gender">
            <option value=""> -- Gender --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div *ngIf="(gender.touched || gender.dirty) && gender.invalid">
            <div *ngIf="gender.errors.required">Gender is required</div>
          </div>
        </div><br>

        <div class="form-group">
          <input type="email" class="form-control" aria-label="Sizing example input" placeholder="email"
            aria-describedby="inputGroup-sizing-lg" formControlName="email" />
          <div *ngIf="(email.touched || email.dirty) && email.errors">
            <div *ngIf="email.errors.required">email is required</div>
            <div *ngIf="email.errors.email">email invalid</div>
          </div>
        </div><br>

        <div class="form-group">
          <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            formControlName="role" (ngModel)="roles">
            <option value=""> -- Role --</option>
            <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
          </select>
          <div *ngIf="(role.touched || role.dirty) && role.invalid">
            <div *ngIf="role.errors.required">Role is required</div>
          </div>
        </div><br>

        <span>
          <button type="button" class="btn btn-primary btn-lg user-button" (click)="clearAll()" >Clear</button>
          <button type="submit" class="btn btn-success btn-lg user-button" [disabled]="!userForm.valid" >Save</button>&nbsp;
        </span>

      </form>
    </div>
  </div>

</p-dialog>
