<div class="container-fluid ">
  <div class="row on-row">
    <div class="col-sm-4 offset-sm-4 main">
      <h2>User Profile</h2>
      <div *ngIf="user !== undefined">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <br>
          <div class="form-group">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Name(s)"
              aria-describedby="inputGroup-sizing-lg" formControlName="names" />
            <div *ngIf="(names.touched || names.dirty) && names.invalid">
              <div *ngIf="names.errors.required">Name(s) is required</div>
              <div *ngIf="names.errors.minlength">Names must have length of 2 or more</div>
            </div>
          </div><br>

          <div class="form-group">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Surname"
              aria-describedby="inputGroup-sizing-lg" formControlName="surname" />
            <div *ngIf="(surname.touched || surname.dirty) && surname.invalid">
              <div *ngIf="surname.errors.required">Surname is required</div>
              <div *ngIf="surname.errors.minlength">Surname must have length of 2 or more</div>
            </div>
          </div><br>

          <!-- <div class="form-group">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="ID Number"
              aria-describedby="inputGroup-sizing-lg" formControlName="idNumber" />
            <div *ngIf="(idNumber.touched || idNumber.dirty) && idNumber.invalid">
              <div *ngIf="idNumber.errors.required">ID Number is required</div>
            </div>
          </div><br> -->


          <div class="form-group">
            <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Phone Number"
              aria-describedby="inputGroup-sizing-lg" formControlName="phoneNumber" />
            <div *ngIf="(phoneNumber.touched || phoneNumber.dirty) && phoneNumber.invalid">
              <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
              <div *ngIf="phoneNumber.errors.invalidNumber">Value has to be a number</div>
              <div *ngIf="phoneNumber.errors.minlength">phone number must include code, be minimum 10 characters length
              </div>
            </div>
          </div><br>

          <div class="form-group">
            <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
              formControlName="gender">
              <option value=""> -- Gender --</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            <div *ngIf="(gender.touched || gender.dirty) && gender.invalid">
              <div *ngIf="gender.errors.required">Gender is required</div>
            </div>
          </div><br>

          <div class="form-group">
            <input type="email" class="form-control" aria-label="Sizing example input" placeholder="email"
              aria-describedby="inputGroup-sizing-lg" formControlName="email" />
            <div *ngIf="(email.touched || email.dirty) && email.errors">
              <div *ngIf="email.errors.required">email is required</div>
              <div *ngIf="email.errors.email">email invalid</div>
            </div>
          </div><br>

          <div class="form-group">
            <select class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"  formControlName="role" [compareWith]="compareFn" [(ngModel)]="role.value">
              <option value=""> -- Role --</option>
              <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
            </select>
            <div *ngIf="(role.touched || role.dirty) && role.invalid">
              <div *ngIf="role.errors.required">Role is required</div>
            </div>
          </div><br>
          
          <div class="input-group mb-3">
              <input type="password" class="form-control" aria-label="password" aria-describedby="password" [disabled]="true" [value]="'hashed'">
              <div class="input-group-append">
                <span class="input-group-text" id="password" style="padding-top:0px; padding-bottom: 0px;"><button (click)="changePassword()" class="btn btn-outline-primary">Change Password</button>&nbsp;</span>
              </div>
          </div>

          <span>
            <button type="submit" class="btn btn-outline-success" [disabled]="!profileForm.valid">Update</button>&nbsp;
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="loading" *ngIf="showLoader">Loading&#8230;</div>