<div class="container-fluid ">
  <section class="main">
    <h3>Search for Candidate</h3>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="firstname">Name</label>
          <input type="email" class="form-control" id="firstname" [(ngModel)]="search.candidateName" 
          [disabled]="firstnameDisabled" (ngModelChange)="firstnameChanged($event)"/>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="email" class="form-control" id="surname" [(ngModel)]="search.candidateSurname" 
          [disabled]="surnameDisabled" (ngModelChange)="surnameChanged($event)"/>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="idNumber">ID Number</label>
          <input type="email" class="form-control" id="idNumber" [(ngModel)]="search.idNumber" 
          [disabled]="idNumberDisabled" (ngModelChange)="idNumberChanged($event)"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="role">Role</label>
          <select [(ngModel)]="search.candidateRoleId" class="form-control" id="role" 
          [disabled]="roleDisabled" (ngModelChange)="roleChanged($event)">
            <option [ngValue]=""></option>
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="role">Stage</label>
          <select [(ngModel)]="search.statusId" class="form-control" id="status" 
          [disabled]="statusDisabled" (ngModelChange)="statusChanged($event)">
            <option [ngValue]=""></option>
            <option *ngFor="let status of statuses" [ngValue]="status.id">{{status.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm">

      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-1 col-small">
            <button type="button" class="btn btn-outline-primary" (click)="onSearch()">Search</button>
          </div>
          <div class="col-1 col-small">
            <button type="button" class="btn btn-outline-secondary" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id Number</th>
          <th scope="col">Names</th>
          <th scope="col">Surname</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of pagedItems; index as i">
          <td>{{ candidate.idNumber }}</td>
          <td>{{ candidate.names }}</td>
          <td>
            {{ candidate.surname }}
          </td>
          <td>{{ candidate.role.name }}</td>
          <td>{{ candidate.status.name }}</td>
        </tr>
        <tr *ngIf="candidates.length === 0">
          <td colspan="5" style="text-align: center">No results to display</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" *ngIf="candidates.length > 0">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link" >First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link" >Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link" >{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link" >Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link" >Last</a>
        </li>
      </ul>
    </nav>
    <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div> -->
  </section>
</div>
<div class="loading" *ngIf="showLoader">Loading&#8230;</div>